@charset "UTF-8";
/* колір основного тексту #212121 */
/* другорядний колір тексту #757575 */
/* колір Героя #FFFFFF */
/* акцент #2196F3 */
/* лого: одна част. акцент, інша #000000 */
/* основний колір bg #FFFFFF */
/* другорядний колір фону #F5F4FA */
/* колір Героя та Футеру #2F303A */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --hover-accent-color: #188ce8;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --logo-color: #000000;
  --primary-icon-color: #afb1b8;
  --border-nav: #ececec;
  --border-cards: #eeeeee;
  --typical-gap: 30px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: var(--typical-gap);
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.btn {
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--hover-accent-color);
  color: var(--primary-bg-color);
}

.logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.logo__accent-part {
  color: var(--accent-color);
}

.footer__logo {
  margin-bottom: 20px;
  display: block;
  text-align: center;
  color: var(--primary-bg-color);
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: scroll;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 95vw;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--primary-bg-color);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-bg-color);
}

.modal__close:hover, .modal__close:focus {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--accent-color);
}

.modal__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.modal__form {
  margin-top: 12px;
}

.modal__field + .modal__field {
  margin-top: 10px;
}

.modal__label {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  outline: none;
}

.modal__input:focus {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--accent-color);
}

.modal__wrap {
  position: relative;
}

.modal__icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--accent-color);
}

.modal__comment {
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  outline: none;
}

.modal__comment:focus {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--accent-color);
}

.modal__comment::placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__privacy {
  margin-top: 20px;
  margin-bottom: var(--typical-gap);
  /* position: relative;
  display: flex;
  align-items: center; */
}

.modal__text {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .modal__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal__span {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  display: block;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__check:focus + .modal__text span {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.modal__check:checked + .modal__text span {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
  fill: var(--primary-bg-color);
  border: none;
}

.modal__file {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 3px;
}

.modal__file:focus, .modal__file:hover {
  text-decoration: none;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 1px solid transparent;
  border-radius: 50%;
  color: var(--primary-icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.social__icon {
  fill: currentColor;
}

.menu-open-btn, .menu-close-btn {
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  padding: 12px 8px;
  color: var(--primary-text-color);
}

.menu-open-btn:hover, .menu-open-btn:focus, .menu-close-btn:hover, .menu-close-btn:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-open-btn, .menu-close-btn {
    display: none;
  }
}

.menu-icon, .close-icon {
  fill: currentColor;
}

.menu-close-btn {
  padding: 11px 10.33px 10.33px 11px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.mob-menu {
  position: fixed;
  background-color: var(--primary-bg-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 48px 40px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.open {
  opacity: 1;
}

.mob-menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu__item + .mob-menu__item {
  margin-top: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--accent-color);
}

.mob-menu__link--current {
  color: var(--accent-color);
}

.mob-menu__contacts {
  padding-bottom: 64px;
}

.mob-menu__element + .mob-menu__element {
  margin-top: 32px;
}

.mob-menu__tel {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 376px) {
  .mob-menu__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}

.mob-menu__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mob-menu__socials {
  display: flex;
  flex-wrap: wrap;
}

.mob-menu__line + .mob-menu__line {
  margin-left: 10px;
}

.mob-menu__line:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu__social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-right: 10px;
}

.header {
  border-bottom: 1px solid;
  border-color: var(--border-nav);
}

.header .container {
  display: flex;
  justify-content: none;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header .container {
    height: 60px;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    justify-content: none;
    align-items: center;
  }
}

.menu__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu__list {
    display: block;
    display: flex;
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.menu__link:hover, .menu__link:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
}

.menu__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.menu__link:hover::after, .menu__link:focus::after {
  bottom: -1px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link--current {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
}

.menu__link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  transform: scale(1);
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.contacts__item:first-child {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts__item {
    margin-left: 50px;
  }
  .contacts__item:first-child {
    margin-bottom: 0;
  }
}

.contacts__link {
  display: flex;
  justify-content: none;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.contacts__link:hover, .contacts__link:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .contacts__icon--smartphone {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__icon--smartphone {
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__icon--envelope {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__icon--envelope {
    width: 16px;
    height: 12px;
  }
}

.no-scroll {
  overflow: hidden;
}

.hero {
  background-color: var(--footer-bg-color);
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-min/mob-hero-img-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-min/mob-hero-img@2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    max-height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-min/tab-hero-img-min.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-min/tab-hero-img@2x-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    min-height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-min/desk-hero-img-min.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-min/desk-hero-img-min.jpg);
  }
}

.hero__title {
  max-width: 640px;
  margin-bottom: var(--typical-gap);
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.features.section {
  padding-bottom: 0;
}

@media screen and (max-width: 1199px) {
  .features.section {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.features__item {
  width: 100%;
  margin-bottom: var(--typical-gap);
}

.features__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc(100%/2 - 30px);
    margin-left: 30px;
  }
  .features__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc(100%/4 - 30px);
    margin-bottom: 0;
  }
}

.features__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--secondary-bg-color);
  margin-bottom: var(--typical-gap);
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.about {
  display: none;
}

@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}

.about__list {
  display: flex;
}

.about__item {
  position: relative;
}

.about__item + .about__item {
  margin-left: var(--typical-gap);
}

.about__title {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

.team {
  background-color: var(--secondary-bg-color);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__item {
  max-width: 450px;
  margin-bottom: var(--typical-gap);
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc(100%/2 - 30px);
    margin-left: var(--typical-gap);
  }
  .team__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(100%/4 - 30px);
    margin-bottom: 0;
  }
}

.team__text-part {
  padding-bottom: var(--typical-gap);
  padding-top: var(--typical-gap);
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.clients__item {
  width: calc(100%/2 - 30px);
  height: 92px;
  margin-left: var(--typical-gap);
  margin-bottom: var(--typical-gap);
}

.clients__item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc(100%/3 - 30px);
  }
  .clients__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc(100%/6 - 30px);
    margin-bottom: 0;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--primary-icon-color);
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

.address__item {
  text-align: center;
  margin-bottom: 8px;
}

.address__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .address__item {
    margin-bottom: 9px;
    text-align: left;
  }
}

.address__address {
  color: var(--primary-bg-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__address:hover, .address__address:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contacts:hover, .address__contacts:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footer__tablet {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer__second {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__second {
    margin-left: 70px;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-bg-color);
}

@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
  }
}

.social__item--color {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon--color {
  fill: var(--primary-bg-color);
}

.footer__third {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__third {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form {
    flex-direction: row;
    align-items: center;
  }
}

.footer__input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}

.footer__input::placeholder {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer__btn {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__btn::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/icon-send.svg);
}

@media screen and (min-width: 1200px) {
  .footer__btn {
    margin-top: 0;
  }
}

.portfolio__catalogue {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio__catalogue {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__catalogue {
    margin-bottom: 50px;
  }
}

.portfolio__btn {
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__element {
  margin-bottom: 15px;
}

.portfolio__element + .portfolio__element {
  margin-left: 8px;
}

.portfolio__element:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 398px) {
  .portfolio__element:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__element {
    margin-bottom: 0;
  }
}

.portfolio__btn--current {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    margin-right: -30px;
  }
}

.portfolio__items {
  width: 450px;
  margin-bottom: var(--typical-gap);
}

.portfolio__items:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .portfolio__items {
    display: flex;
    width: calc(100%/2 - 30px);
    margin-right: var(--typical-gap);
    margin-bottom: var(--typical-gap);
  }
  .portfolio__items:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__items {
    width: calc(100%/3 - 30px);
    margin-right: var(--typical-gap);
  }
  .portfolio__items:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio__box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--border-cards);
}

@media screen and (min-width: 768px) {
  .portfolio__box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.portfolio__subtitle {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio__cards {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__cards:hover, .portfolio__cards:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio__cards {
    display: flex;
    flex-direction: column;
  }
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__description {
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__cards:hover .portfolio__description,
.portfolio__cards:focus .portfolio__description {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */