.features.section {
    padding-bottom: 0;
}

.features__list {
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }
}

.features__item {
    width: 100%;
    margin-bottom: var(--typical-gap);
    @media screen and (min-width:768px) {
        width: calc(100%/2 - 30px);
        margin-left: 30px;
        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width:1200px) {
        width: calc(100%/4 - 30px);
        margin-bottom: 0;
    }
}

.features__thumb {
    @include flexCenter;
    height: 120px;
    background-color: var(--secondary-bg-color);
    margin-bottom: var(--typical-gap);
}

.features__title {
    margin-bottom: 10px;

    @include font (null, 14px, 1.14, 0.03em);
    text-transform: uppercase;
}

.features__text {
    color: var(--secondary-text-color);
    @include font (null, 14px, 1.71, 0.03em);
}