
.header {
    border-bottom: 1px solid;
    border-color: var(--border-nav);
    .container {
        // @include flexCenter ($type:flex,
        //     $main-axis:none,
        //     $cross-axis:center);
    }
}

.navigation {
    // @include flexCenter ($type:flex,
    // $main-axis:none,
    // $cross-axis:center);
}

.menu__list {
    // display: flex;
}

.menu__item:not(:last-child) {
    // margin-right: 50px;
}

.menu__link {
    // display: block;
    // padding-top: 32px;
    // padding-bottom: 32px;

    // position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--primary-text-color);
    @include font (500, 14px, 1.14, null);

    &:hover, &:focus {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: var(--accent-color);
    }

    // &::after {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     bottom: 0;
    
    //     transform: scale(0);
    //     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    //         color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    //     width: 100%;
    //     height: 4px;
    //     background-color: var(--accent-color);
    //     border-radius: 2px;
    // }

    // &:hover::after,
    // &:focus::after {
    //     bottom: -1px;
    
    //     transform: scale(1);
    //     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    //         color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    // }
}

.menu__link--current {
    // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    // color: var(--accent-color);
}


.menu__link--current::after {
    // content: "";
    // display: block;
    // position: absolute;
    // bottom: -1px;

    // transform: scale(1);

    // width: 100%;
    // height: 4px;
    // background-color: var(--accent-color);
    // border-radius: 2px;
}

.contacts {
    // display: flex;
    // margin-left: auto;
}

.contacts__item+.contacts__item {
    // margin-left: 50px;
}

.contacts__link {
    // @include flexCenter ($type:flex,
    //     $main-axis:none,
    //     $cross-axis:center);
    // padding-top: 32px;
    // padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    &:hover, &:focus {
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            color: var(--accent-color);
    }
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}