.team {
    background-color: var(--secondary-bg-color);
}

.team__list {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }
}

.team__item {
    max-width: 450px;
    margin-bottom: var(--typical-gap);
    background-color: var(--primary-bg-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    &:last-child {
        margin-bottom: 0;
    }    
    @include tablet {
        width: calc(100%/2 - 30px);
        margin-left: var(--typical-gap);
        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }
    }
    @include desktop {
        width: calc(100%/4 - 30px);
        margin-bottom: 0;
    }
}

.team__text-part {
    padding-bottom: var(--typical-gap);
    padding-top: var(--typical-gap);
}

.team__title {
    margin-bottom: 10px;

    @include font (500, 16px, 1.19, 0.03em);
    text-align: center;
}

.team__text {
    color: var(--secondary-text-color);
    @include font (null, 16px, 1.19, 0.03em);
    text-align: center;
    margin-bottom: 16px;
}


