.logo {
    color: var(--logo-color);
    font-family: $fontLogo;
    @include font (700, 24px, 1.17, 0.03em);
    @include desktop {
        @include font (700, 26px, 1.2, 0.03em);
    }
}

.header__logo {
    @include tablet {
        margin-right: 88px;
    }
    @include desktop {
        margin-right: 93px;
    }
}

.logo__accent-part {
    color: var(--accent-color);
}

.footer__logo {
    margin-bottom: 20px;
    display: block;
    text-align: center;

    color: var(--primary-bg-color);

    @media screen and (min-width: 1200px){
        text-align: left;
    }
}



