.social {
    @include flexCenter;
}

.social__item + .social__item {
    margin-left: 10px;
}

.social__link {
    @include flexCenter;
    width: 44px;
    height: 44px;
    border: 1px solid transparent;
    border-radius: 50%;
    color: var(--primary-icon-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        background-color: var(--accent-color);
        color: var(--primary-bg-color);
    }
}

.social__icon {
    fill: currentColor;
}